<div class="auth">
	<form>
		<span>
			<label for="profileName">Profile Name</label>
			<input name="profileName" type="textfield" />
		</span>

		<span>
			<label for="password">Password</label>
			<input name="password" type="password" />
		<span>

		<div class="formButton">
			<span class="twoButton"><a href="reset()">Reset</a></span>
			<span class="twoButton" ng-click="login()">Login</span>
		</div>
		<div class="formButton">
			<span>Login with Google</span>
		</div>
		<div class="formButton">
			<span>Login with Facebook</span>
		</div>
	</form>
</div>