/*-------------------------------------------
		Overall application
-------------------------------------------*/
html,
body {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url(../img/bg/oconnorBg1750x623.png), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86));
  /* Saf4+, Chrome */
  background-image: url(../img/bg/oconnorBg1750x623.png), -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 67%, #ffffff 70%, #ffffff 100%);
  /* FF3.6+ */
  background-image: url(../img/bg/oconnorBg1750x623.png), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(67%, #ffffff), color-stop(70%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background-image: url(../img/bg/oconnorBg1750x623.png), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 67%, #ffffff 70%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url(../img/bg/oconnorBg1750x623.png), -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 67%, #ffffff 70%, #ffffff 100%);
  /* Opera 11.10+ */
  background-image: url(../img/bg/oconnorBg1750x623.png), -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 67%, #ffffff 70%, #ffffff 100%);
  /* IE10+ */
  background-image: url(../img/bg/oconnorBg1750x623.png), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 67%, #ffffff 70%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
  width: 100%;
  height: 100%;
}
/*-------------------------------------------
		Profile
-------------------------------------------*/
.profile {
  display: inline-block;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 25px;
  margin-left: 100px;
}
.profile div {
  display: block;
}
.profile img {
  vertical-align: middle;
  height: 100px;
  width: 100px;
}
.profile h3 {
  text-transform: uppercase;
  margin-top: 0px;
}
.profile span.title {
  font-weight: bold;
  margin-top: 10px;
}
.profile span.profileBlock span {
  display: block;
}
.profile .profileSummaryCard {
  height: 200px;
  padding-left: 15px;
  vertical-align: top;
  float: left;
}
.profile .profileSummaryCard div span {
  display: block;
}
.profile .profileSummaryCard .nameDisplay .cardBlock {
  display: block;
}
.profile .scorecard {
  display: inline-block;
}
.profile .scorecard .scorecardViewOverview {
  display: inline;
}
/*-------------------------------------------
		Menu
-------------------------------------------*/
.menu {
  visibility: hidden;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 185px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10.5px 11px;
  background-color: #005555;
  display: block;
}
.menu ul li a:visited,
.menu ul li a:hover,
.menu ul li .current {
  color: white;
}
/*-------------------------------------------
		Scorecard
-------------------------------------------*/
.scorecardView {
  display: inline-block;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 25px;
  margin-left: 100px;
}
.scorecardView .scorecardViewOverview {
  display: inline;
}
.scorecardView .scorecardViewOverview h3 {
  margin-top: 0px;
}
.scorecardView .scorecardViewOverview .scorecardImage {
  float: right;
  height: 80px;
  width: 80px;
  font-size: 40px;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  background-color: green;
}
.scorecardView .scorecardViewOverview .scorecardCourseInfo span {
  display: block;
}
.scorecardView .scorecardViewOverview .scorecardCourseInfo span span {
  display: inline-block;
}
.scorecardView .scorecardViewOverview .scorecardCourseInfo span.title {
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
  text-align: right;
}
.scorecardView .scorecardViewDetail .scorecardViewTable h3 {
  background-color: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
}
.scorecardView .scorecardViewDetail .scorecardViewTable table {
  height: 100px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px;
}
.scorecardView .scorecardViewDetail .scorecardViewTable table tr {
  height: 30px;
}
.scorecardView .scorecardViewDetail .scorecardViewTable table th {
  background-color: ffffff;
  text-align: right;
  padding-right: 5px;
  width: 80px;
}
.scorecardView .scorecardViewDetail .scorecardViewTable table td {
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
