/*-------------------------------------------
		Register
-------------------------------------------*/
.register {

/*
 *	Light Blue	8FBDD9
 *	Dark Blue	03658C
 *	Light Green	78A83C
 *	Sandy		E3A533
 *	Dark Green	326D23
 */

	.intro {

	}
	
	form {

		width: 300px;
		display: table-caption;

		border-radius: 5px;
		margin-left: 30px;
		margin-top: 15px;
		margin-right: 30px;

		padding: 50px;

		//TODO Change to an opacity
		background-color: #FFFFFF;

		.formButton {
			margin: 10px 0px 0px 50px;
			display: inline-flex;

			span {
				margin: 5px;
				background-color: #03658C;
				padding: 10px;
				border-radius: 15px;
				color: #428bca;
			}

			a:hover, a:active, span:active, span:hover {
				background-color: #8FBDD9;
				text-decoration: none;
			}

			a {
				color: #428bca;
			}
		}

		label {
			margin-top: 10px;
			margin-bottom: 0px;
		}

		input {
			border-radius: 5px;
			width: 200px;
			background-color: #8FBDD9;
			color:#FFFFFF;
			margin-top: 1px;
		}

		div {
			display: inherit;
		}
	}

	.golf {

	}
}