/*-------------------------------------------
		Scorecard
-------------------------------------------*/
.scorecardView {
	display:inline-block;
	background-color: #EEEEEE;
	border-radius: 10px;
	padding: 25px;
	margin-left: 100px;

	.scorecardViewOverview {
		display:inline;

		h3 {
			margin-top: 0px;
		}

		.scorecardImage {
			float: right;
			height: 80px;
			width: 80px;
			font-size: 40px;
			color: white;
			text-align: center;
			vertical-align: middle;	
			border-radius: 10px;
			background-color: green;
		}

		.scorecardCourseInfo {

			span {
				display: block;
				span {
					display: inline-block;
				}
			}
			span.title {	
				font-weight: bold;	
				margin-right: 10px;
				width: 100px;
				text-align: right;
			}
		}
	}

	.scorecardViewDetail {
		.scorecardViewTable {
			h3 {
				background-color: #ffffff;
				margin-bottom: 0px;
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 25px;
			}

			table {
				height: 100px;
				background-color: #ffffff;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				border: 3px;

				tr {
					height: 30px;
				}

				th {
					background-color: ffffff;
					text-align: right;
					padding-right: 5px;
					width: 80px;
				}
				td {
					width: 30px;
					text-align: center;
					vertical-align: middle;
				}
			}
		}
	}
}