<div class="profile">
	<div name="profileDetail">
		<!-- image -->
		<div class="profileSummaryCard" ng-if="profile.profileImageRef">
			<img ng-src="{{profile.profileImageRef}}" />
		</div>
		<!-- names -->
		<div class="profileSummaryCard" ng-if="profile.firstName && profile.lastName && profile.profileHandle">
			<div>
				<h3>Name Details</h3>
				<!-- name -->
				<span class="profileBlock">
					<span class="title">Golfer Name</span>
					<span>{{profile.firstName}} {{profile.lastName}}</span>
				</span>
				<!-- handle -->
				<span class="profileBlock">
					<span class="title">Profile Handle</span>
					<span>{{profile.profileHandle}}</span>
				</span>
			</div>
		</div>

		<!-- contact -->
		<div class="profileSummaryCard" ng-if="profile.emailAddress || profile.twitterHandle || profile.facebookUsername || profile.instagramHandle || profile.pinterestHandle">
			<h3>Contact Details</h3>
			<!-- email -->
			<span class="profileBlock" ng-if="profile.emailAddress">
				<span class="title">Email Address</span>
				<span>{{profile.emailAddress}}</span>
			</span>
			<!-- twitter handle -->
			<span class="profileBlock" ng-if="profile.twitterHandle">
				<!-- twitter logo -->
				<span class="title">Twitter Handle</span>
				<span>{{profile.twitterHandle}}</span>
			</span>
			<!-- facebook -->
			<span class="profileBlock" ng-if="profile.facebookUsername">
				<!-- facebook logo -->
				<span class="title">Facebook</span>
				<span>{{profile.facebookUsername}}</span>
			</span>
			<!-- instagram -->
			<span class="profileBlock" ng-if="profile.instagramHandle">
				<!-- instagram logo -->
				<span class="title">Instagram Handle</span>
				<span>{{profile.instagramHandle}}</span>
			</span>
			<!-- pinterest -->
			<span class="profileBlock" ng-if="profile.pinterestHandle">
				<!-- pinterest logo -->
				<span class="title">Pinterest Handle</span>
				<span>{{profile.pinterestHandle}}</span>
			</span>
		</div>

		<!-- golf info -->
		<div class="profileSummaryCard" ng-if="profile.handDominanceValue || profile.handicap || profile.golfbag">
			<h3>Golf Info</h3>
			<!-- handedness -->
			<span class="profileBlock" ng-if="profile.handDominanceValue">
				<span class="title">Hand Dominance</span>
				<span>{{profile.handDominanceValue}}</span>
			</span>
			<!-- handicap -->
			<span class="profileBlock" ng-if="profile.handicap">
				<span class="title">Handicap</span>
				<span>{{profile.handicap}}</span>
			</span>
		</div>
	</div>
	<!-- scorecards -->
	<div name="profileScorecard">
		<h3>Recent Scorecards</h3>
		<div class="scorecard">
			<div class="scorecardOverview" ng-repeat="scorecard in scorecardArray">
				<span ng-click="toggleScorecard(scorecard.id, '2')">+ Shot {{scorecard.grossScore}} @ {{scorecard.courseName}} off {{scorecard.teesPlayedOffColour}} tees</span>
			</div>
			<div class="scorecardDetail" ng-show="scorecardInView['{{scorecard.id}}']">
				<span class="scorecardDetailRow">
					<span class="title">Course</span>
					<span>{{scorecard.courseName}}</span>
				</span>
				<span class="scorecardDetailRow">
					<span class="title">Gross</span>
					<span>{{scorecard.grossScore}}</span>
				</span>
				<span class="scorecardDetailRow">
					<span class="title">Tee</span>
					<span>{{scorecard.teesPlayedOffColour}}</span>
				</span>
				<span class="scorecardDetailRow">
					<span class="title">Handicap</span>
					<span>{{scorecard.handicap}}</span>
				</span>
				<span><a href="#/scorecard/{{scorecard.id}}">[analyse]</a></span>
			</div>
		</div>
	</div>
	<!-- favourite courses -->
	<div>
		<h3>Favourite Courses</h3>
		<div class="course" ng-repeat="course in favouriteCourseArray">
			<div class="courseOverview">
				<span ng-click="toggleFavouriteCourse(course.id, '2')">+</span> 
				{{course.teeColour}} Tees at {{course.courseName}}
				<span ng-if="course.club && course.club.clubName"> on {{course.club.clubName}}</span>
			</div>
			<div class="courseDetail" ng-show="favouriteCourseInView['{{course.id}}']">
				<span class="courseDetailRow">
					<span class="title">Course Name</span>
					<span>{{course.courseName}}</span>
					<span class="courseDetailRow">
						<span class="title">Par</span>
						<span>{{course.par}}</span>
					</span>
					<span class="courseDetailRow">
						<span class="title">Slope Index</span>
						<span>{{course.slopeIndex}}</span>
					</span>
					<span>
						<a href="#/course/{{course.id}}">[more details]</a>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>
