<div class="scorecardView">
	<div class="scorecardViewOverview">
		<div class="scorecardImage">{{scorecard.grossScore}}</div>
		<div class="scorecardCourseInfo">
			<h3>{{scorecard.numberOfHoles}} holes at {{scorecard.courseName}}</h3>
			<span>
				<span class="title">Tees</span>
				<span>{{scorecard.teesPlayedOffColour}}</span>
			</span>
			<span>
				<span class="title">Tee Time</span>
				<span>{{scorecard.scorecardDateDT | date: 'dd MMMM yyyy @ HH:mm:ss'}}</span>
			</span>
			<span>
				<span class="title">Scoring Golfer</span>
				<span>{{scorecard.scoringGolferName}}</span>
			</span>
		</div>
	</div>
	<div class="scorecardViewDetail">
		<div class="scorecardViewTable">
			<h3>Scorecard</h3>
			<table>
				<thead>
					<!-- hole number -->
					<th>Hole</th>
					<td ng-repeat="(k, v) in scorecard.holeScoreArray track by $index">
						{{k+1}}
					</td>
				</thead>
				<tbody>
					<!-- hole index -->
					<tr>
						<th>Distance</th>
						<td ng-repeat="(k, v) in scorecard.holeScoreArray track by $index">
							{{courseData['7f500b91-cec5-4573-921a-ac2d3c2ca1af'][k].holeDistance}}
						</td>
					</tr>
					<!-- hole distance -->
					<tr>
						<th>Index</th>
						<td ng-repeat="(k, v) in scorecard.holeScoreArray track by $index">
							{{courseData['7f500b91-cec5-4573-921a-ac2d3c2ca1af'][k].holeIndex}}
						</td>
					</tr>
					<!-- hole par -->
					<tr>
						<th>Par</th>
						<td ng-repeat="(k, v) in scorecard.holeScoreArray track by $index">
							{{courseData['7f500b91-cec5-4573-921a-ac2d3c2ca1af'][k].holePar}}
						</td>
					</tr>
					<!-- hole score -->
					<tr>
						<th>Score</th>
						<td ng-repeat="(k, v) in scorecard.holeScoreArray track by $index">
							{{v}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
	